@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;900&display=swap');

:root{
    --barlow: 'Barlow Semi Condensed', sans-serif;
    --scissors-gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper-gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock-gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --bg-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--barlow);
    background: var(--bg-gradient);
    box-sizing: border-box;
}

#scores{
    margin: 5rem auto;
    width: 50%;
}
.main-header{
    border: 3px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}
.score-card{
    background-color: whitesmoke;
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px rgba(48,40,40,0.67);
}
.score-card p{
    color: hsl(230, 57%, 58%);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -0.5rem;
}
.figure{
    color: var(--header-outline);
    font-weight: 700;
    font-size: 50px;
}

.options{
    width: 100%;
    margin: 10rem auto;
    background-image: url("./images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.paper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 20px solid hsl(230, 89%, 62%);
    background-color: whitesmoke;
    box-shadow: 0px 6px 1px 1px hsl(230, 67%, 48%), inset 0px 5px 1px 1px rgba(177, 177, 177, 0.75);
    border-radius: 50%;
}
.paper img{
    width: 35%;
}
.scissors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 20px solid hsl(39, 89%, 49%);
    background-color: whitesmoke;
    box-shadow: 0px 6px 1px 1px hsl(39, 88%, 38%) , inset 0px 5px 1px 1px rgba(177, 177, 177, 0.75);
    border-radius: 50%;
    margin-top: -10rem;
}
.scissors img{
    width: 35%;
}
.layer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.layer2{
    text-align: center;
}
.rock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 20px solid hsl(349, 71%, 52%);
    background-color: whitesmoke;
    box-shadow: 0px 6px 1px 1px hsl(349, 66%, 35%) , inset 0px 5px 1px 1px rgba(177, 177, 177, 0.75);
    border-radius: 50%;
    margin-left: 19rem;
}
.rock img{
    width: 35%;
}

#rules{ 
    background-color: white;
    width: 20vw;
    height: 43vh;
    margin: 14% auto;
    padding: 2rem;
    border-radius: 10px;
    visibility: hidden;
}
.rules-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}
.rules-head h2{
    color: var(--dark-text);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
}
.rules-head img{
    width: 5.5%;
}
.rules-img{
    display: block;
    margin: auto;
    width: 85%;
}